header {
  margin-bottom: 7px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  background-color: #3dac6b;
}
img.logo{
  background-image: none;
  border-radius: 5%;
  height: 60px;
}
button {
  margin: 3%;
  padding: 1%;
  border-radius: 2%;
}
h1#logo {
  margin-left: 3%;
  font-weight: 300;
  color: black;
  font-size: 105%;
}
div#logo{
  display: flex;
  padding: 3%;
  background-color: white;
  border-radius: 3%;
}
h1#question {
  font-weight: 150;
}

main {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h1#title {
  color: #309459;
  font-weight: 5000;
  
}
